{% extends 'base.html.twig' %}

{% block body %}

    <strong>Acteur :</strong>
    <ul>
        {% for actor in program.actors %}
            <li>{{ actor.name }} </li>
        {% else %}
            <li>Aucun acteur pour cette série</li>
        {% endfor %}
    </ul>

{% endblock %}