<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {{ encore_entry_link_tags('app') }}
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <header>
        {% block header %}
            {% include 'nav_bar.html.twig' %}
        {% endblock %}
    </header>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        {{ encore_entry_script_tags('app') }}
    </body>
</html>
